.site-footer{
background-color:$mblue;
color:white;
padding:0.5rem 0;
text-align:center;
&__text{
    display:block;
    margin-bottom:1rem;
    font-weight:300;
    @mixin atMedium{
        display:inline;
        margin-bottom:0rem;
        margin-right:1.4rem;
    }
}
}